<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>bookstore.user.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActiveServlet</servlet-name>
    <servlet-class>bookstore.user.servlet.ActiveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>bookstore.user.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>bookstore.category.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>bookstore.book.servlet.BookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>bookstore.Cart.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>bookstore.Order.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <servlet-class>bookstore.category.servlet.admin.AdminCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminBookServlet</servlet-name>
    <servlet-class>bookstore.book.servlet.admin.AdminBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminFileuploadServlet</servlet-name>
    <servlet-class>bookstore.book.servlet.admin.AdminFileuploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>bookstore.Order.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VerifyCodeServlet</servlet-name>
  	<servlet-class>bookstore.user.servlet.VerifyCodeServlet</servlet-class>
  </servlet>









 <servlet-mapping>
 	<servlet-name>VerifyCodeServlet</servlet-name>
 	<url-pattern>/VerifyCodeServlet</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActiveServlet</servlet-name>
    <url-pattern>/ActiveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <url-pattern>/admin/AdminCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminBookServlet</servlet-name>
    <url-pattern>/admin/AdminBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminFileuploadServlet</servlet-name>
    <url-pattern>/admin/AdminFileuploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin/AdminServlet</url-pattern>
  </servlet-mapping>
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>bookstore.Filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>bookstore.Filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/jsps/cart/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/jsps/order/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>CartServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <servlet-name>OrderServlet</servlet-name>
  </filter-mapping>
</web-app>